.App {
  text-align: center;
  margin: auto;
    width: 375px;
    background-color: rgb(27, 219, 219);
    padding: 20px;
    box-sizing: border-box;
}

.title-list {
  margin-left: 20px;
  text-align: left;
  font-weight: 600;
}

.menu-icon {
  width: 32px;
  float: left;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
}

.add-container {

}

.add-form{
  display: none;
}

.add-container:hover .add-form{
  display: block;
}

.add-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  box-shadow: 3px 3px rgba(0,0,0,.1);
  margin:  30px auto 0 auto;
}




.add-icon img {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
